<!--EXTEND FILE: '_base.html'-->
{% extends 'shared/_base.html' %}

<!--SET BROWSER TAB TITLE-->
{% block title %}DASHBOARD - GraspAI{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex gap-2 justify-content-center align-items-center">
            <h3 class="display-5">Hello {{ user.username|title }}
                <p class="fs-3"><em>What would you like to do today?</em></p>
                <hr>
            </h3>     
        </div>
        <div class="row gap-2">
            <div class="col">
                <a href="{% url 'dashboard:grasp-pdf' %}" class="link-underline link-underline-opacity-0">
                    <div class="card text-bg-dark mb-3">                
                        <div class="card-header">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                            </svg> Grasp Complex PDF Documents
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">Upload PDF Documents</h5>
                        <p class="card-text">Search, Summarize and Analyze Complex PDF Document</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a  class="link-underline link-underline-opacity-0 disabled">
                    <div class="card text-bg-dark mb-3">
                        <div class="card-header">Grasp Webpages or Entire Websites</div>
                        <div class="card-body">
                            <h5 class="card-title">coming soon...</h5>
                            <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
                                <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="link-underline link-underline-opacity-0 disabled">
                    <div class="card text-bg-dark mb-3">
                        <div class="card-header">Grasp for Enterprises & Professionals</div>
                        <div class="card-body">
                        <h5 class="card-title">coming soon...</h5>
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
                                <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                            </svg>
                        </p>
                        </div>
                    </div>
                </a>        
            </div>    
        </div>
    {% else %}
        <div class="d-flex gap-2 align-items-center justify-content-center">
            <p class="fs-4 text-danger">You must be logged in to continue...</p>
            <a class="btn btn-secondary btn-outline-info" href="{% url 'users:login_view' %}">LOGIN</a>
            <a class="btn btn-secondary btn-outline-info" href="{% url 'users:register_view'%}">SIGN UP</a>
        </div>
    {% endif %}
{% endblock %}