<!--EXTEND FILE: '_base.html'-->
{% extends 'shared/_base.html' %}

<!--SET BROWSER TAB TITLE-->
{% block title %}GRASP PDF - GraspAI{% endblock %}

{% block content %}    
    {% if content %}
        <p class="fs-3">Your PDF was successfully processed!</p>
        <p class="fs-4"><em>Click the buttons to see results...</em></p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#summary">
            PDF Summary
        </button>
        <!-- Modal -->
        <div class="modal fade" id="summary" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="summary" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="summaryLabel">Your Summary</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="summary">
                    <p class="p-2">{{ content }}</p>
                </div> 
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger">Report a Bug</button>
                </div>
            </div>
            </div>
           
        {% else %}
        <div class="d-flex gap-2 justify-content-center align-items-center"></div>
            <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:grasp-pdf' %}">
                {% csrf_token %}
                <p class="fs-3">Please Upload a PDF Document to Continue...</p>
                <label for="pdf_file">CHOOSE FILE:</label>
                <input type="file" name="pdf_file" id="pdf_file">
                <input type="submit" value="SUBMIT>>">      
            </form>
        {% endif %}
    </div>
{% endblock %}